@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --dark-blue: hsl(240, 38%, 20%);
    --grayish-blue: hsl(240, 18%, 77%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-content: center;
    min-height: 100vh;
    font-family: "Inter", serif;
    font-size: clamp(17.7px, 90%, 2rem);
    background-image: url(./images/pattern-bg.svg), url(./images/pattern-quotes.svg), url(./images/pattern-curve.svg);
    background-size: 21.5rem, 3.8rem, 17rem;
    background-position: 10px 20px, center 60%, 0 100%;
    background-repeat: no-repeat;
}

img {
    width: clamp(200px, 79%, 265px);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

p {
    margin: 4rem 1rem 1.3rem 1rem;
    color: var(--dark-blue);
}

h4 {
    /* font-weight: 700; */
    color: var(--dark-blue);
}

small {
    font-weight: 500;
    color: var(--grayish-blue);
}

main {
    width: clamp(290px, 90%, 31rem);
    text-align: center;
    margin: 50px auto 80px auto;
}

#buttons {
    width: 90px;
    background-color: #fff;
    margin: auto;
    padding: 0.9rem 1rem;
    border-radius: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-top: -25px;
}

svg {
    stroke: var(--grayish-blue);
    fill: var(--dark-blue);
    cursor: pointer;
}

.hide {
    display: none;
}

@media (min-width: 600px) {
    body {
        background-image: url(./images/pattern-bg.svg), url(./images/pattern-quotes.svg), url(./images/pattern-curve.svg);
        background-size: clamp(20rem, 40.55vw, 36.5rem), clamp(3rem, 7.7vw, 7rem), clamp(25rem, 44.4vw, 40rem);
        background-position: right 230px top 71px, left 310px top 220px, left bottom;
        background-repeat: no-repeat;
    }

    main {
        width: clamp(600px, 90%, 90rem);
        text-align: left;
        overflow: hidden;
    }

    img {
        width: clamp(300px, 100%, 450px);
    }

    .slide {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }

    #text {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-right: -90px;
        width: clamp(400px, 100%, 635px);
    }

    #text p {
        font-size: clamp(24px, 2vw, 32px);
        margin-left: 0;
    }

    #initials {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
    }

    small {
        font-size: 19px;
    }

    #buttons {
        margin-left: 30px;
    }

    .hide {
        display: none;
    }
}